@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
  line-height: 20pt;
}

body {
  height:  97vh;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 78px;
}